{{! template-lint-disable no-inline-styles  }}
<div class="ui mobile only grid">
  <br><br><br>
</div>
<div class="ui basic segment wow fadeIn" data-wow-duration="0.5s">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Octicons-logo-github.svg/799px-Octicons-logo-github.svg.png"
    width="300px"
    alt=""
  >
  <h1 class="ui header">
    Tendências da semana
  </h1>
  <div class="ui input">
    {{input
      value=language
      enter=(action "languageQuery")
      placeholder="Linguagem"
    }}
  </div>
  <br >
  <br>
  {{#if loader}}
    <br >
    <br >
    <br >
    <br >
    <div class="ui active centered inline text loader">
      Carregando repositórios
    </div>
  {{else}}
    <div style="height: 800px;">
      {{#ember-scrollable autoHide=false}}
        <br >
        <div class="ui divided items">
          {{#each model as |repo|}}
            <div class="item">
              <div class="ui tiny circular image">
                <img src={{repo.avatar}} alt="" >
              </div>
              <div class="content">
                <div class="header">
                  {{repo.name}}
                </div>
                <div class="meta">
                  <span class="cinema">
                    language: {{repo.language}}
                  </span>
                </div>
                <div class="description">
                  {{repo.description}}
                </div>
                <div class="extra">
                  <a href={{repo.url}} target="_blank" rel="noopener">
                    <div class="ui grey tag label">
                      Repositório
                    </div>
                  </a>
                  <div class="ui basic label">
                    <i class="fas fa-star fa-md"></i>
                    {{repo.stars}}
                  </div>
                  <div class="ui basic label">
                    <i class="fas fa-hand-point-down fa-md"></i>
                    {{repo.forks}}
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      {{/ember-scrollable}}
    </div>
  {{/if}}
</div>