{{! template-lint-disable no-inline-styles  }}
<div class="ui container">
  <div class="ui mobile only tablet only grid">
    <br >
    <br >
    <br >
    <br>
    <br>
  </div>
  <img
    src="https://newsapi.org/images/n-logo-border.png"
    class="ui tiny image"
    alt=""
    width="300px"
  >
  powered by News Api
  <a href="https://github.com/bzarras/newsapi" target="_blank" rel="noopener">
    <i class="fab fa-github fa-lg"></i>
  </a>
  <br >
  <br >
  <div class="ui form">
    <div class="ui fields">
      <div class="field">
        <button
          class="ui fluid inverted green icon  button"
          {{action "activateArticles"}}
        >
          <i class="angle double up icon"></i>
        </button>
      </div>
      <div class="field">
        <button
          class="ui fluid inverted red icon  button"
          {{action "viewSrcs"}}
        >
          <i class="newspaper icon"></i>
        </button>
      </div>
      <div class="field">
        <button
          class="ui fluid inverted icon purple button"
          {{action "viewCountries"}}
        >
          <i class="language icon"></i>
        </button>
      </div>
      <br >
      <br >
      <br >
      <div class="field">
        <div class="ui icon input">
          {{input value=searchValue keyUp=(action "queryArticles" searchValue) placeholder="Procure um artigo..."}}
          <i class="search icon"></i>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="field">
        {{#ui-dropdown
          class="selection"
          selected="Bob"
          onChange=(action (mut gender))
        }}
          <div class="default text">
            Categorias
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each model.categories as |category|}}
              <div
                data-value={{category}}
                class="item"
                role="button"
                {{action "listCatArt" category}}
              >
                {{category}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>
    </div>
  </div>
  <br>
  {{#if loader}}
    <div class="ui active centered inline loader"></div>
  {{else}}
    {{#if viewArticles}}
      <br >
      <div class="ui divided items">
        {{#each model.articles as |article|}}
          <div class="item">
            <div class="image">
              <img src={{article.urlToImage}} alt="" >
            </div>
            <div class="content">
              <div class="header">
                {{article.title}}
              </div>
              <div class="meta">
                <span class="cinema">
                  {{article.source.name}}
                </span>
              </div>
              <div class="description">
                {{article.description}}
              </div>
              <div class="extra">
                <a href={{article.url}} target="_blank" rel="noopener">
                  <div class="ui teal tag label">
                    Ler artigo
                  </div>
                </a>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      {{#if viewSources}}
        <br >
        <strong>
          Escolha a fonte
        </strong>
        <br >
        <br >
        <div  class="wow fadeInRight ui grid" data-wow-delay="0.5s">
          <div class="seven column row">
            <div
              class="column"
              role="button"
              {{action "listArticles" "abc-news"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=https://abcnews.go.com&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "al-jazeera-english"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=http://www.aljazeera.com&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "bild"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=http://www.bild.de&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "business-insider"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=http://www.businessinsider.com&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "cbs-news"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=http://www.cbsnews.com&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "cnn"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=http://us.cnn.com&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "engadget"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=https://www.engadget.com&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
          </div>
          <div class="seven column row">
            <div
              class="column"
              role="button"
              {{action "listArticles" "focus"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=http://www.focus.de&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "nbc-news"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=http://www.nbcnews.com&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "nfl-news"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=http://www.nfl.com/news&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "rt"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=https://russian.rt.com&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "spiegel-online"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=http://www.spiegel.de&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "techcrunch"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=https://techcrunch.cn&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "the-economist"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=http://www.economist.com&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
          </div>
          <div class="seven column  row">
            <div
              class="column"
              role="button"
              {{action "listArticles" "the-hill"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=http://thehill.com&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "the-verge"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=http://www.theverge.com&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "wired"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=https://www.wired.com&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "the-wall-street-journal"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=http://www.wsj.com&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "the-new-york-times"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=http://www.nytimes.com&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "national-geographic"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=http://news.nationalgeographic.com&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "usa-today"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=http://www.usatoday.com/news&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
          </div>
          <div class="seven column  row">
            <div
              class="column"
              role="button"
              {{action "listArticles" "buzzfeed"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=https://www.buzzfeed.com&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "espn"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=http://espn.go.com&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "die-zeit"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=http://www.zeit.de/index&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "le-monde"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=http://www.lemonde.fr&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "new-scientist"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=https://www.newscientist.com/section/news&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "svenska-dagbladet"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=https://www.svd.se&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listArticles" "vice-news"}}
            >
              <img
                src="https://icon-locator.herokuapp.com/icon?url=https://news.vice.com&size=70..120..200"
                class="ui tiny image"
                alt=""
              >
            </div>
          </div>
        </div>
      {{else}}
        <br >
        <strong>
          Clique em um país
        </strong>
        <br >
        <br >
        <div class="wow fadeInLeft ui grid" data-wow-delay="0.5s">
          <div class="seven column row">
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "ar"}}
            >
              <img
                src="https://newsapi.org/images/flags/ar.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "au"}}
            >
              <img
                src="https://newsapi.org/images/flags/au.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "at"}}
            >
              <img
                src="https://newsapi.org/images/flags/at.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "be"}}
            >
              <img
                src="https://newsapi.org/images/flags/be.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "br"}}
            >
              <img
                src="https://newsapi.org/images/flags/br.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "ca"}}
            >
              <img
                src="https://newsapi.org/images/flags/ca.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "cn"}}
            >
              <img
                src="https://newsapi.org/images/flags/cn.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
          </div>
          <div class="seven column  row">
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "co"}}
            >
              <img
                src="https://newsapi.org/images/flags/co.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "cu"}}
            >
              <img
                src="https://newsapi.org/images/flags/cu.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "cz"}}
            >
              <img
                src="https://newsapi.org/images/flags/cz.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "de"}}
            >
              <img
                src="https://newsapi.org/images/flags/de.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "in"}}
            >
              <img
                src="https://newsapi.org/images/flags/in.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "ie"}}
            >
              <img
                src="https://newsapi.org/images/flags/ie.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "nl"}}
            >
              <img
                src="https://newsapi.org/images/flags/nl.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
          </div>
          <div class="seven column row">
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "nz"}}
            >
              <img
                src="https://newsapi.org/images/flags/nz.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "ng"}}
            >
              <img
                src="https://newsapi.org/images/flags/ng.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "sa"}}
            >
              <img
                src="https://newsapi.org/images/flags/sa.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "ru"}}
            >
              <img
                src="https://newsapi.org/images/flags/ru.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "sk"}}
            >
              <img
                src="https://newsapi.org/images/flags/sk.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "rs"}}
            >
              <img
                src="https://newsapi.org/images/flags/rs.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "ch"}}
            >
              <img
                src="https://newsapi.org/images/flags/ch.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
          </div>
          <div class="seven column row">
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "us"}}
            >
              <img
                src="https://newsapi.org/images/flags/us.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "tr"}}
            >
              <img
                src="https://newsapi.org/images/flags/tr.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "gb"}}
            >
              <img
                src="https://newsapi.org/images/flags/gb.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "kr"}}
            >
              <img
                src="https://newsapi.org/images/flags/kr.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "za"}}
            >
              <img
                src="https://newsapi.org/images/flags/za.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "pt"}}
            >
              <img
                src="https://newsapi.org/images/flags/pt.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "ae"}}
            >
              <img
                src="https://newsapi.org/images/flags/ae.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
          </div>
          <div class="seven column row">
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "bg"}}
            >
              <img
                src="https://newsapi.org/images/flags/bg.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "eg"}}
            >
              <img
                src="https://newsapi.org/images/flags/eg.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "hk"}}
            >
              <img
                src="https://newsapi.org/images/flags/hk.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "hu"}}
            >
              <img
                src="https://newsapi.org/images/flags/hu.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "il"}}
            >
              <img
                src="https://newsapi.org/images/flags/il.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "it"}}
            >
              <img
                src="https://newsapi.org/images/flags/it.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "gr"}}
            >
              <img
                src="https://newsapi.org/images/flags/gr.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
          </div>
          <div class="seven column row">
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "lt"}}
            >
              <img
                src="https://newsapi.org/images/flags/lt.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "my"}}
            >
              <img
                src="https://newsapi.org/images/flags/my.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "mx"}}
            >
              <img
                src="https://newsapi.org/images/flags/mx.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "ma"}}
            >
              <img
                src="https://newsapi.org/images/flags/ma.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "no"}}
            >
              <img
                src="https://newsapi.org/images/flags/no.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "ph"}}
            >
              <img
                src="https://newsapi.org/images/flags/ph.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "pl"}}
            >
              <img
                src="https://newsapi.org/images/flags/pl.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
          </div>
          <div class="seven column row">
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "ve"}}
            >
              <img
                src="https://newsapi.org/images/flags/ve.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "ro"}}
            >
              <img
                src="https://newsapi.org/images/flags/ro.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "si"}}
            >
              <img
                src="https://newsapi.org/images/flags/si.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "se"}}
            >
              <img
                src="https://newsapi.org/images/flags/se.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "tw"}}
            >
              <img
                src="https://newsapi.org/images/flags/tw.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "th"}}
            >
              <img
                src="https://newsapi.org/images/flags/th.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
            <div
              class="column"
              role="button"
              {{action "listCountryArticles" "jp"}}
            >
              <img
                src="https://newsapi.org/images/flags/jp.svg"
                class="ui tiny image"
                alt=""
              >
            </div>
          </div>
        </div>
      {{/if}}
    {{/if}}
  {{/if}}
</div>